@model CAPSTONE_TEAM01_2024.ViewModels.ClassListViewModel

@{
    ViewData["Title"] = "Danh Sách Lớp";
    int number = (Model.Classes.PageIndex - 1) * Model.Classes.PageSize;
}

<div class="content-wrapper" style="min-height: 912.2px;">
    <header class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Danh Sách Lớp</h1>
                </div>
            </div>
        </div>
    </header>

    <main class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row text-center">
                        <div class="col-auto">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AddClassModal">
                                <i class="bi bi-plus custom-icon"></i> Thêm Lớp
                            </button>
                        </div>
                        <div class="col">
                            <nav class="navbar navbar-light bg-light">
                                <form class="d-flex ms-auto">
                                    <input class="form-control me-2" type="search" id="searchInput" placeholder="Nhập nội dung cần tìm" aria-label="Search">
                                </form>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success">@TempData["Success"]</div>
                    }
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">@TempData["Error"]</div>
                    }
                    @if (TempData["Warning"] != null)
                    {
                        <div class="alert alert-danger">@TempData["Warning"]</div>
                    }
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Mã Lớp</th>
                                <th scope="col">Cố Vấn</th>
                                <th scope="col">Niên Khóa</th>
                                <th scope="col">Ngành</th>
                                <th scope="col">Số Lượng SV</th>
                                <th scope="col">Thao Tác</th>
                            </tr>
                        </thead>
                        <tbody id="classTable">
                            @foreach (var classItem in Model.Classes)
                            {
                                number++;
                                <tr>
                                    <td class="text-center">@number</td>
                                    <td class="text-center">@classItem.ClassId</td>
                                    <td class="text-center">
                                        @(classItem.Advisor != null ?
                                            (string.IsNullOrEmpty(classItem.Advisor.FullName) ? classItem.Advisor.Email : classItem.Advisor.FullName) :
                                            "Chưa bổ nhiệm")
                                    </td>
                                    <td class="text-center">@classItem.Term</td>
                                    <td class="text-center">@classItem.Department</td>
                                    <td class="text-center"> 
                                        @classItem.Students.Count / @classItem.StudentCount
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#EditClassModal"
                                                data-class-id="@classItem.ClassId"
                                                data-term="@classItem.Term"
                                                data-department="@classItem.Department"
                                                data-advisor-email="@classItem.Advisor.Email"
                                                data-student-count="@classItem.StudentCount"
                                                onclick="openEditModal(this)">
                                            <i class="fa-solid fa-pen-to-square custom-icon"></i> Cập nhật
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#DeleteClassModal"
                                                data-class-id="@classItem.ClassId"
                                                onclick="openDeleteModal(this)">
                                            <i class="fa-solid fa-trash custom-icon"></i> Xóa
                                        </button>
                                    </td>
                                </tr>
                            }
                            <tr id="noresults" style="display: none;">
                                <td colspan="7" class="text-center">Không tìm thấy nội dung</td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation" style="float:right;">
                        <ul class="pagination">
                            @if (Model.Classes.HasPreviousPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="ClassList" asp-route-pageIndex="@(Model.Classes.PageIndex - 1)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            @for (var i = 1; i <= Model.Classes.TotalPages; i++)
                            {
                                if (i == Model.Classes.PageIndex)
                                {
                                    <li class="page-item active">
                                        <a class="page-link">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="ClassList" asp-route-pageIndex="@i">@i</a>
                                    </li>
                                }
                            }
                            @if (Model.Classes.HasNextPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="ClassList" asp-route-pageIndex="@(Model.Classes.PageIndex + 1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Add Class Modal -->
<div class="modal fade" id="AddClassModal" tabindex="-1" aria-labelledby="AddClassModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddClassModalLabel">Thêm Lớp Mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addClassForm" asp-action="CreateClass" method="post">
                    <div class="mb-3">
                        <label class="form-label">Mã Lớp</label>
                        <input type="text" class="form-control" name="ClassId" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Niên Khóa</label>
                        <input type="text" class="form-control" name="Term" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ngành</label>
                        <select class="form-select" name="Department" required>
                            <option value="" disabled selected>Xin hãy chọn ngành</option>
                            <option value="7480201 - Công nghệ Thông tin (CTTC)">7480201 - Công nghệ Thông tin (CTTC)</option>
                            <option value="7480201 - Công nghệ Thông tin (CTĐB)">7480201 - Công nghệ Thông tin (CTĐB)</option>
                            <option value="7480104 - Hệ thống Thông tin (CTTC)">7480104 - Hệ thống Thông tin (CTTC)</option>
                            <option value="7480102 - Mạng máy tính và truyền thông dữ liệu (CTTC)">7480102 - Mạng máy tính và truyền thông dữ liệu (CTTC)</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cố Vấn</label>
                        <input type="email" class="form-control" name="AdvisorEmail" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Số Lượng SV</label>
                        <input type="number" class="form-control" name="StudentCount" required oninput="validateStudentCount(this)" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Class Modal -->
<div class="modal fade" id="EditClassModal" tabindex="-1" aria-labelledby="EditClassModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditClassModalLabel">Cập nhật Lớp</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editClassForm" asp-action="EditClass" method="post">
                    <input type="hidden" id="EditClassId" name="ClassId" />
                    <div class="mb-3">
                        <label class="form-label">Mã Lớp</label>
                        <input type="text" class="form-control" id="EditClassIdDisplay" readonly />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Niên Khóa</label>
                        <input type="text" class="form-control" id="EditTerm" name="Term" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ngành</label>
                        <select class="form-select" id="EditDepartment" name="Department" required>
                            <option value="7480201 - Công nghệ Thông tin (CTTC)">7480201 - Công nghệ Thông tin (CTTC)</option>
                            <option value="7480201 - Công nghệ Thông tin (CTĐB)">7480201 - Công nghệ Thông tin (CTĐB)</option>
                            <option value="7480104 - Hệ thống Thông tin (CTTC)">7480104 - Hệ thống Thông tin (CTTC)</option>
                            <option value="7480102 - Mạng máy tính và truyền thông dữ liệu (CTTC)">7480102 - Mạng máy tính và truyền thông dữ liệu (CTTC)</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cố Vấn</label>
                        <input type="email" class="form-control" id="EditAdvisorEmail" name="AdvisorEmail" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Số Lượng SV</label>
                        <input type="number" class="form-control" id="EditStudentCount" name="StudentCount" min="1" max="30" required oninput="validateStudentCount(this)" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Class Modal -->
<div class="modal fade" id="DeleteClassModal" tabindex="-1" aria-labelledby="DeleteClassModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteClassModalLabel">Xóa Lớp</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa lớp này không?</p>
                <form id="deleteClassForm" asp-action="DeleteClass" method="post">
                    <input type="hidden" id="DeleteClassId" name="id" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
//Limit studnet count input
    function validateStudentCount(input) {
        if (input.value < 1) input.value = 1;
        if (input.value > 30) input.value = 30;
    }
//Edit Modal JS
    function openEditModal(button) {
        var classId = button.getAttribute('data-class-id');
        var term = button.getAttribute('data-term');
        var department = button.getAttribute('data-department');
        var advisorEmail = button.getAttribute('data-advisor-email');
        var studentCount = button.getAttribute('data-student-count');
    
        document.getElementById('EditClassId').value = classId;
        document.getElementById('EditClassIdDisplay').value = classId;
        document.getElementById('EditTerm').value = term;
        document.getElementById('EditDepartment').value = department;
        document.getElementById('EditAdvisorEmail').value = advisorEmail;
        document.getElementById('EditStudentCount').value = studentCount;
    
        $('#EditClassModal').modal('show');
    }
//Delete Modal JS
    function openDeleteModal(button) {
            var classId = button.getAttribute('data-class-id');
            document.getElementById('DeleteClassId').value = classId;
            $('#DeleteClassModal').modal('show');
        }
// Search JS
    document.getElementById('searchInput').addEventListener('input', function () {
        var input, filter, table, tr, td, i, txtValue, found;
        input = document.getElementById('searchInput');
        filter = input.value.toUpperCase();
        table = document.getElementById('classTable');
        tr = table.getElementsByTagName('tr');
        found = false; // Initialize found as false
    
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName('td');
            if (td.length > 0) { // Ensure td elements exist
                let match = false;
                for (let j = 0; j < td.length; j++) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        match = true;
                        break;
                    }
                }
                tr[i].style.display = match ? "" : "none";
                found = found || match;
            }
        }
    
        // Display 'không tìm thấy nội dung' if nothing is found
        var noResultsRow = document.getElementById('noresults');
        noResultsRow.style.display = found ? "none" : "table-row";
    });
</script>
