@inject IHttpContextAccessor HttpContextAccessor
@model CAPSTONE_TEAM01_2024.ViewModels.SemesterPlanViewModel
@{
ViewData["Title"] = "Semester Plan";
int number = (Model.SemesterPlans.PageIndex - 1) * Model.SemesterPlans.PageSize;
var rolesString = HttpContextAccessor.HttpContext.Session.GetString("Roles");
var roles = rolesString?.Split(',') ?? new string[0];
bool isNotFaculty = !roles.Contains("BCN Khoa");
bool isNotAdvisor = !roles.Contains("CVHT");
}
<style>

    .btn .custom-icon {
        
        padding: 0; /* Xóa padding */
        margin: 0; /* Xóa margin */
        font-size: 14px; /* Đặt kích thước font như mong muốn */
        line-height: 1; /* Đảm bảo icon không có khoảng cách thừa */
    }


    /* CSS cụ thể cho các modal nhỏ */
    #EditSemesterPlanModal .modal-dialog,
    #SubmitPlanModal .modal-dialog,
    #DeletePlanModal .modal-dialog {
        max-width: 600px; /* Điều chỉnh kích thước nhỏ lại */
    }

    /* Định dạng cho các modal để phân biệt */
    #EditSemesterPlanModal .modal-header,
    #SubmitPlanModal .modal-header,
    #DeletePlanModal .modal-header {
        background-color: #f8f9fa; /* Màu nền nhạt */
        border-bottom: 1px solid #ddd;
    }

     
    
    .modal-dialog {
        max-width: 90%;
        width: 100%; 
    }

    textarea {
        resize: none; 
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 14px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .modal-footer {
        justify-content: flex-end;
        display: flex;
        width: 100%;
        align-items: center;
        padding-top: 10px;
        border-top: 1px solid #ddd;
    }


    .fields-row .header-cell {
        height: 50px; /* Đặt chiều cao cho các ô tiêu đề */
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-align: center;
        border: 1px solid #ddd; /* Thêm viền nếu cần kiểm tra */
    }

    .fields-row + div {
        display: flex;
        width: 100%;
        border: 1px solid #ddd; /* Kiểm tra độ khớp với các ô bên dưới */
    }

    textarea {
        border: 1px solid #ddd; /* Thêm viền để kiểm tra kích thước */
        box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước */
    }
       .header-cell {
        flex: 1;
           
           margin-right: 0; /* Xóa lệch phải (nếu có) */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        min-width: 100px;
        box-sizing: border-box;
        padding: 0 15px; 
        text-align: center;
    }
    select {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 14px;
    }

   
    .row-container > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

   
    .btn {
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: white;
        border: none;
    }

    .btn-primary {
        background-color: #007bff;
        color: white;
        border: none;
    }

       .btn:hover {
        opacity: 0.9;
    }
</style>

<div class="content-wrapper" style="min-height: 912.2px;">
    <!-- Content Header (Page header) -->
    <header class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3 class="m-0">Kế Hoạch</h3>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </header>
    <!-- /.content-header -->
    <!-- Main content -->
    <main class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row text-center">
                       @if (isNotFaculty)
                       {
                           <div class="col-auto">
                               <button type="button" class="btn btn-success" onclick="openAddPlanModal()">
                                   <i class="bi bi-plus"></i> Thêm Kế Hoạch
                               </button>
                               
                           </div>
                       }
                       <div class="col">
                            <nav class="navbar navbar-light bg-light">
                                <form class="d-flex ms-auto">
                                    <input class="form-control me-2" type="search" placeholder="Nhập nội dung tìm kiếm" aria-label="Search">
                                </form>
                            </nav>
                        </div>
                    </div>
                    <!-- Filter Combo Box -->
                    <div class="row mt-2">
                        <div class="col-4 text-left">
                            <label for="statusFilter" class="form-label">Trạng Thái</label>
                            <select id="statusFilter" class="form-select custom-select" style="width: 150px;" onchange="filterTable()">
                                <option value="">Tất cả</option>
                                <option value="Đã nộp">Đã Nộp</option>
                                <option value="Nháp">Nháp</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success">@TempData["Success"]</div>
                    }
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">@TempData["Error"]</div>
                    }
                    @if (TempData["Warning"] != null)
                    {
                        <div class="alert alert-danger">@TempData["Warning"]</div>
                    }
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Năm Học</th>
                                <th>Loại Kế Hoạch</th>
                                <th>Mã Lớp</th>
                                <th>Tên Cố Vấn</th>
                                <th>Ngày Tạo</th>
                                <th>Trạng Thái</th>
                                <th>Thao Tác</th>
                            </tr>
                        </thead>
                        <tbody id="data-table">
                            @foreach (var plan in Model.SemesterPlans)
                            {
                                number++;
                                <tr>
                                    <td class="text-center">@number</td>
                                    <td class="text-center">@plan.PeriodName</td>
                                    <td class="text-center">@plan.PlanType</td>
                                    <td class="text-center">@plan.ClassId</td>
                                    <td class="text-center">
                                        @if (plan.Class.Advisor != null) 
                                        { 
                                            @if (string.IsNullOrEmpty(plan.Class.Advisor.FullName)) 
                                            { 
                                                @plan.Class.Advisor.Email 
                                            } 
                                            else 
                                            { @plan.Class.Advisor.FullName 
                                            } 
                                        }
                                    </td>
                                    <td class="text-center">@plan.CreationTime</td>
                                    <td class="text-center">
                                        @if (plan.Status == "Nháp")
                                        {
                                            <span class="badge bg-secondary text-white">@plan.Status</span>
                                        }
                                        else if(plan.Status == "Đã Nộp")
                                        {
                                            <span class="badge bg-success">@plan.Status</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-primary">@plan.Status</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        
                                            <button class="btn btn-outline-success btn-sm"
                                                    title="Xem chi tiết"
                                                    onclick="openEditPlanDetailModal(@plan.PlanId, @plan.PeriodId, '@plan.ClassId', '@plan.Status')">
                                                <i class="fa-solid fa-eye custom-icon"></i>
                                            </button>
                                        @if (isNotFaculty)
                                        {
                                            <button class="btn btn-outline-primary btn-sm"
                                                    title="Cập Nhật"
                                                    onclick="openEditSemesterPlan(@plan.PlanId, @plan.PeriodId, '@plan.PlanType', '@plan.ClassId')">
                                                <i class="fa-solid fa-pen-to-square custom-icon"></i>
                                            </button>
                                        }
                                        <button class="btn btn-outline-danger btn-sm delete"
                                                title="Xóa"
                                                onclick="openDeleteModal(@plan.PlanId)">
                                            <i class="fa-solid fa-trash custom-icon"></i>
                                        </button>
                                        @if (isNotFaculty)
                                        {
                                            <button class="btn btn-outline-secondary btn-sm"
                                                    title="Nộp"
                                                    onclick="openSubmitSemesterPlan(@plan.PlanId)">
                                                <i class="fa-solid fa-upload custom-icon"></i>
                                            </button>
                                        }   
                                        <form method="post" action="/Categories/DuplicatePlan" style="display:inline;">
                                            <input type="hidden" name="planId" value="@plan.PlanId" />
                                            <button class="btn btn-outline-warning btn-sm duplicate-btn"
                                                    type="submit"
                                                    title="Nhân Bản">
                                                <i class="bi bi-files"></i>
                                            </button>
                                        </form>
                                        <form action="/Categories/ExportPlan" method="post" style="display: inline;">
                                            <input type="hidden" name="planId" value="@plan.PlanId" />
                                            <button type="submit" class="btn btn-outline-info btn-sm" title="Xuất">
                                                <i class="fa-solid fa-file-export custom-icon"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                            <tr id="noresults" style="display: none;">
                                <td colspan="9" class="text-center">Không tìm thấy nội dung</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Pagination Controls -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end">
                            @if (Model.SemesterPlans.HasPreviousPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="SchoolYear" asp-route-pageIndex="@(Model.SemesterPlans.PageIndex - 1)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            @for (var i = 1; i <= Model.SemesterPlans.TotalPages; i++)
                            {
                                if (i == Model.SemesterPlans.PageIndex)
                                {
                                    <li class="page-item active">
                                        <a class="page-link">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="SemesterPlan" asp-route-pageIndex="@i">@i</a>
                                    </li>
                                }
                            }
                            @if (Model.SemesterPlans.HasNextPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="SemesterPlan" asp-route-pageIndex="@(Model.SemesterPlans.PageIndex + 1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </main>
</div>
<!--View Detail BCN Khoa-->

<!--Add Modal--> 
<div class="modal fade" id="AddSemesterPlanModal" tabindex="-1" aria-labelledby="AddSemesterPlanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
                <h5 class="modal-title" id="AddSemesterPlanModalLabel">Thêm Kế Hoạch Học Kỳ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <form id="addSemesterPlanForm" method="post" action="/Categories/AddPlan"> 
                    <!-- Dropdown Options -->
                    <div class="fields-row" style="display: flex; align-items: center; gap: 10px; width: 100%; font-weight: bold; padding-bottom: 5px;">
                        <div style="flex: 1; text-align: center;">Kế Họach CVHT </div>
                        <input type="hidden" id="PlanType" name="PlanType" value="Kế Họach CVHT" />
                        <div style="flex: 1; text-align: center;">
                            <select id="PeriodId" name="PeriodId" style="width: 100%;" required>
                                <option value="" disabled selected>Vui lòng chọn năm học</option>
                                @foreach (var item in Model.SchoolYears)
                                {
                                <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div style="flex: 1; text-align: center;">Lớp: </div>
                        <div style="flex: 1; text-align: center;">
                            <select id="ClassId" name="ClassId" style="width: 100%;" required>
                                <option value="" disabled selected>Vui lòng chọn lớp</option>
                                @foreach (var item in Model.Class)
                                {                                
                                <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <!-- Header Row for Fields -->
                    <div class="fields-row" style="display: flex; align-items: center; height: 50px;">
                            <div class="header-cell" style="flex: 1.1; text-align: center;">Tiêu Chí</div>
                            <div class="header-cell" style="flex: 2.21; text-align: center;">Mô Tả Công Việc</div>
                            <div class="header-cell" style="flex: 1; text-align: center;">Cách Thực Hiện</div>
                            <div class="header-cell" style="flex: 1; text-align: center;">Định Lượng</div>
                            <div class="header-cell" style="flex: 1; text-align: center;">Thời Gian</div>
                            <div class="header-cell" style="flex: 1; text-align: center;">Ghi Chú</div>
                        </div>
                    <!-- Rows for Tiêu Chí 1 -->
                    <div style="display: flex; width: 100%;">
                            <textarea name="Criteria1" style="flex: 1; min-width: 100px; height: 200px; font-weight: bold;" readonly>1.Một số nội dung cơ bản của nhiệm vụ CVHT</textarea>
                                <div style="flex: 2; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="Task1_1" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Kế hoạch CVHT</textarea>
                                    <textarea name="Task1_2" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Họp lớp tập trung</textarea>
                                    <textarea name="Task1_3" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Lịch CVHT tư vấn cá nhân cho sinh viên</textarea>
                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="HowToExecute1_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="HowToExecute1_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="HowToExecute1_3" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="Quantity1_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="Quantity1_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="Quantity1_3" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="TimeFrame1_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="TimeFrame1_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="TimeFrame1_3" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="Notes1_1" style="flex: 1; min-width: 100px; height: 50px;">Có lập kế hoạch CVHT theo TB</textarea>
                                    <textarea name="Notes1_2" style="flex: 1; min-width: 100px; height: 50px;">Tổ chức 100% các buổi họp tập trung online</textarea>
                                    <textarea name="Notes1_3" style="flex: 1; min-width: 100px; height: 50px;">Có TB lịch cho SV và trực theo lịch đã công bố</textarea>
                                </div>
                            </div>
                    <!-- Rows for Tiêu Chí 2 -->
                    <div style="display: flex; width: 100%;">
                            <textarea name="Criteria2" style="flex: 1; min-width: 100px; height: 200px; font-weight: bold;" readonly>2.Hướng dẫn sinh viên lập và đăng ký kế hoạch học tập (KHHT)</textarea>
                                <div style="flex: 2; display: flex; flex-direction: column; gap: 10px;">
                                <textarea name="Task2_1" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Hướng dẫn sinh viên lập và đăng ký KHHT</textarea>
                                <textarea name="Task2_2" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Hướng dẫn sinh viên ĐKHP</textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="HowToExecute2_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="HowToExecute2_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="Quantity2_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="Quantity2_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="TimeFrame2_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="TimeFrame2_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="Notes2_1" style="flex: 1; min-width: 100px; height: 50px;">Có ít nhất 70% SV lập và đăng ký KHHT ở mỗi học kỳ</textarea>
                                    <textarea name="Notes2_2" style="flex: 1; min-width: 100px; height: 50px;">Có ít nhất 70% SV lập và đăng ký KHHT ở mỗi học kỳ</textarea>

                                </div>
                            </div>
                    <!-- Rows for Tiêu Chí 3 -->
                    <div style="display: flex; width: 100%;">
                            <textarea name="Criteria3" style="flex: 1; min-width: 100px; height: 200px; font-weight: bold;" readonly>3.Đăng ký học phần (ĐKHP)</textarea>
                                <div style="flex: 2; display: flex; flex-direction: column; gap: 10px;">
                                <textarea name="Task3_1" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Tư vấn phương pháp học tập</textarea>
                                <textarea name="Task3_2" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Tổ chức cho sinh viên chia sẻ kinh nghiệm học tập</textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="HowToExecute3_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="HowToExecute3_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="Quantity3_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="Quantity3_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="TimeFrame3_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="TimeFrame3_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="Notes3_1" style="flex: 1; min-width: 100px; height: 50px;">Có ít nhất 70% SV học đúng lộ trình của năm học</textarea>
                                </div>
                            </div>
                    <!-- Rows for Tiêu Chí 4 -->
                    <div style="display: flex; width: 100%;">
                            <textarea name="Criteria4" style="flex: 1; min-width: 100px; height: 200px; font-weight: bold;" readonly>4.Tư vấn phương pháp học tập, tổ chức cho sinh viên chia sẻ kinh nghiệm học tập</textarea>
                                <div style="flex: 2; display: flex; flex-direction: column; gap: 10px;">
                                <textarea name="Task4_1" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Xử lý học vụ</textarea>
                                <textarea name="Task4_2" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Cảnh báo sớm</textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="HowToExecute4_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="HowToExecute4_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="Quantity4_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="Quantity4_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="TimeFrame4_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                                    <textarea name="TimeFrame4_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="Notes4_1" style="flex: 1; min-width: 100px; height: 50px;">Không quá 10% SV bỏ học hằng năm</textarea>

                                </div>
                            </div>
                    <!-- Rows for Tiêu Chí 5 -->
                    <div style="display: flex; width: 100%;">
                            <textarea name="Criteria5" style="flex: 1; min-width: 100px; height: 200px; font-weight: bold;" readonly>5.Chăm sóc sinh viên diện đặc biệt; Công tác phối hợp để thực hiện nhiệm vụ CVHT</textarea>
                                <div style="flex: 2; display: flex; flex-direction: column; gap: 10px;">
                                <textarea name="Task5_1" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Phối hợp với Trợ lý CTSV Khoa/Thư ký Khoa/Phụ trách học vụ để xử lý kịp thời, đầy đủ các đề xuất/khiếu nại (nếu có) của sinh viên</textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="HowToExecute5_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="Quantity5_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="TimeFrame5_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>

                                </div>
                                <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                                    <textarea name="Notes5_1" style="flex: 1; min-width: 100px; height: 50px;">Có sự hợp tác chặt chẽ</textarea>

                                </div>
                            </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer" style="display: flex; justify-content: flex-end; width: 100%; align-items: center;">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-primary">Lưu</button> <!-- Submit button to send the form -->
                        </div>
                </form>
            </div>
        </div>
    </div>

<!-- Edit Detail Modal -->
<div class="modal fade" id="EditPlanDetailModal" tabindex="-1" aria-labelledby="EditSemesterPlanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
                <h5 class="modal-title" id="EditSemesterPlanModalLabel">Chi Tiết Kế Hoạch Học Kỳ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Form -->
            <form id="editSemesterPlanForm" method="post" action="/Categories/EditPlanDetail">
                <!-- Dropdown Options for Period and Class -->
                <div class="fields-row" style="display: flex; align-items: center; gap: 10px; width: 100%; font-weight: bold; padding-bottom: 5px;">
                    <input type = "hidden" id="DetailIds" name="DetailIds"/>
                </div>
                <!-- Header Row for Fields -->
                <div class="fields-row" style="display: flex; align-items: center; height: 50px;">
                    <div class="header-cell" style="flex: 1.1; text-align: center;">Tiêu Chí</div>
                    <div class="header-cell" style="flex: 2.21; text-align: center;">Mô Tả Công Việc</div>
                    <div class="header-cell" style="flex: 1; text-align: center;">Cách Thực Hiện</div>
                    <div class="header-cell" style="flex: 1; text-align: center;">Định Lượng</div>
                    <div class="header-cell" style="flex: 1; text-align: center;">Thời Gian</div>
                    <div class="header-cell" style="flex: 1; text-align: center;">Ghi Chú</div>
                </div>         
                <!-- Rows for Tiêu Chí 1 in Edit Modal -->
                <div style="display: flex; width: 100%;">
                    <textarea name="EditCriteria1" style="flex: 1; min-width: 100px; height: 200px; font-weight: bold;" readonly>1.Một số nội dung cơ bản của nhiệm vụ CVHT</textarea>
                    <div style="flex: 2; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditTask1_1" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Kế hoạch CVHT</textarea>
                        <textarea name="EditTask1_2" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Họp lớp tập trung</textarea>
                        <textarea name="EditTask1_3" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Lịch CVHT tư vấn cá nhân cho sinh viên</textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditHowToExecute1_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditHowToExecute1_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditHowToExecute1_3" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditQuantity1_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditQuantity1_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditQuantity1_3" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditTimeFrame1_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditTimeFrame1_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditTimeFrame1_3" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditNotes1_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditNotes1_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditNotes1_3" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                </div>
                <!-- Rows for Tiêu Chí 2 in Edit Modal -->
                <div style="display: flex; width: 100%;">
                    <textarea name="EditCriteria2" style="flex: 1; min-width: 100px; height: 200px; font-weight: bold;" readonly>2.Hướng dẫn sinh viên lập và đăng ký kế hoạch học tập (KHHT)</textarea>
                    <div style="flex: 2; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditTask2_1" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Hướng dẫn sinh viên lập và đăng ký KHHT</textarea>
                        <textarea name="EditTask2_2" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Hướng dẫn sinh viên ĐKHP</textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditHowToExecute2_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditHowToExecute2_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditQuantity2_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditQuantity2_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditTimeFrame2_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditTimeFrame2_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditNotes2_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditNotes2_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                </div>
                <!-- Rows for Tiêu Chí 3 in Edit Modal -->
                <div style="display: flex; width: 100%;">
                    <textarea name="EditCriteria3" style="flex: 1; min-width: 100px; height: 200px; font-weight: bold;" readonly>3.Đăng ký học phần (ĐKHP)</textarea>
                    <div style="flex: 2; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditTask3_1" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Tư vấn phương pháp học tập</textarea>
                        <textarea name="EditTask3_2" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Tổ chức cho sinh viên chia sẻ kinh nghiệm học tập</textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditHowToExecute3_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditHowToExecute3_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditQuantity3_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditQuantity3_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditTimeFrame3_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditTimeFrame3_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditNotes3_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                </div>
                <!-- Rows for Tiêu Chí 4 in Edit Modal -->
                <div style="display: flex; width: 100%;">
                    <textarea name="EditCriteria4" style="flex: 1; min-width: 100px; height: 200px; font-weight: bold;" readonly>4.Tư vấn phương pháp học tập, tổ chức cho sinh viên chia sẻ kinh nghiệm học tập</textarea>
                    <div style="flex: 2; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditTask4_1" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Xử lý học vụ</textarea>
                        <textarea name="EditTask4_2" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Cảnh báo sớm</textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditHowToExecute4_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditHowToExecute4_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditQuantity4_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditQuantity4_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditTimeFrame4_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                        <textarea name="EditTimeFrame4_2" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditNotes4_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                </div>
                <!-- Rows for Tiêu Chí 5 in Edit Modal -->
                <div style="display: flex; width: 100%;">
                    <textarea name="EditCriteria5" style="flex: 1; min-width: 100px; height: 200px; font-weight: bold;" readonly>5.Chăm sóc sinh viên diện đặc biệt; Công tác phối hợp để thực hiện nhiệm vụ CVHT</textarea>
                    <div style="flex: 2; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditTask5_1" style="flex: 1; min-width: 100px; height: 50px; font-weight: bold;" readonly>Phối hợp với Trợ lý CTSV Khoa/Thư ký Khoa/Phụ trách học vụ để xử lý kịp thời, đầy đủ các đề xuất/khiếu nại (nếu có) của sinh viên</textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditHowToExecute5_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditQuantity5_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditTimeFrame5_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                    <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
                        <textarea name="EditNotes5_1" style="flex: 1; min-width: 100px; height: 50px;"></textarea>
                    </div>
                </div>
                @if (isNotFaculty)
                {
                    <!-- Modal Footer -->
                    <div class="modal-footer" style="display: flex; justify-content: flex-end; width: 100%; align-items: center;">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Lưu</button> <!-- Submit button to send the form -->
                    </div>
                }
            </form>
        </div>
    </div>
</div>

<!-- Edit Plan Modal -->
<div class="modal fade" id="EditSemesterPlanModal" tabindex="-1" aria-labelledby="EditSemesterPlanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 class="modal-title" id="EditSemesterPlanModalLabel">Chỉnh sửa Kế Hoạch Học Kỳ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="EditSemesterPlanForm" method="post" action="/Categories/EditPlan">
                <div class="modal-body" style="overflow-y: auto; max-height: 80vh;">
                    <div class="mb-3">
                        <input type="hidden" id="EditPlanId" name="PlanId" class="form-control" required>
                        <label for="EditPeriodId" class="form-label">Năm Học</label>
                        <select class="form-select" id="EditPeriodId" name="PeriodId" class="form-control" required>
                            @foreach (var item in Model.SchoolYears)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="EditPlanType" class="form-label">Loại Kế Hoạch</label>
                        <input type="text" id="EditPlanType" name="PlanType" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="EditClassId" class="form-label">Mã Lớp</label>
                        <select class="form-select" id="EditClassId" name="ClassId" class="form-control" required>
                            @foreach (var item in Model.Class)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer" style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary save">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Submit Plan Modal -->
<div class="modal fade" id="SubmitPlanModal" tabindex="-1" aria-labelledby="SubmitSemesterPlanModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SubmitPlanModalLabel">Nộp Kế Hoạch</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn nộp kế hoạch này không?</p>
                <form id="submitPlanForm" asp-action="SubmitPlan" method="post">
                    <input type="hidden" id="SubmitPlanId" name="PlanId" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-danger">Nộp</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Plan Modal -->
<div class="modal fade" id="DeletePlanModal" tabindex="-1" aria-labelledby="DeleteSemesterPlanModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeletePlanModalLabel">Xóa Kế Hoạch</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa kế hoạch này không?</p>
                <form id="deletePlanForm" asp-action="DeletePlan" method="post">
                    <input type="hidden" id="DeletePlanId" name="PlanId" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
//Add Modal JS
    function openAddPlanModal() { 
        var modal = new bootstrap.Modal(document.getElementById('AddSemesterPlanModal')); 
        modal.show(); 
    }

//Edit Plan Detail Modal JS
    const detailsData = @Html.Raw(Json.Serialize(Model.Details));
    const pattern = [1,2,3,1,2,1,2,1,2,1]; 
    function openEditPlanDetailModal(planId, periodId, classId, status) {
        // Filter details for the selected PlanId
        const relevantDetails = detailsData.filter(detail => detail.planId === planId);
        var cycle = 0;
        relevantDetails.forEach(detail => {
        const {detailId, criterionId, task, howToExecute, quantity, timeFrame, notes } = detail;
        // Map CriterionId and Task to unique modal fields
        document.querySelector(`textarea[name="EditHowToExecute${criterionId}_${pattern[cycle]}"]`).value = howToExecute || '';
        document.querySelector(`textarea[name="EditQuantity${criterionId}_${pattern[cycle]}"]`).value = quantity || '';
        document.querySelector(`textarea[name="EditTimeFrame${criterionId}_${pattern[cycle]}"]`).value = timeFrame || '';
        const notesField = document.querySelector(`textarea[name="EditNotes${criterionId}_${pattern[cycle]}"]`);
        if (notesField) 
        {
            notesField.value = notes || '';
        }
                document.getElementById('DetailIds').value += (document.getElementById('DetailIds').value ? ',' : '') + detailId;
        console.log(detailId);
        cycle++;
    });
        

    // Show the modal
    var modal = new bootstrap.Modal(document.getElementById('EditPlanDetailModal'));
    modal.show();
}
// Edit Plan Modal JS
function openEditSemesterPlan(planId, periodId, planType, classId) { 
    document.getElementById('EditPlanId').value = planId;
    document.getElementById('EditPeriodId').value = periodId;
    document.getElementById('EditPlanType').value = planType;
    document.getElementById('EditClassId').value = classId;
    // Show the modal
    var modal = new bootstrap.Modal(document.getElementById('EditSemesterPlanModal'));
    modal.show();
    }
//Submit Plan JS
        function openSubmitSemesterPlan(planId) {
            document.getElementById('SubmitPlanId').value = planId;
        // Show the modal
            var modal = new bootstrap.Modal(document.getElementById('SubmitPlanModal'));
        modal.show();
        }
// Delete Modal JS
    function openDeleteModal(planId) {
        document.getElementById('DeletePlanId').value = planId;
        var modal = new bootstrap.Modal(document.getElementById('DeletePlanModal')); 
        modal.show(); 
    }
</script>