@model CAPSTONE_TEAM01_2024.Utilities.PaginatedList<CAPSTONE_TEAM01_2024.Models.SemesterPlan>
@{
ViewData["Title"] = "Semester Plan";
    int counter = (Model.PageIndex - 1) * Model.PageSize;
}

<div class="content-wrapper" style="min-height: 912.2px;">
    <!-- Content Header (Page header) -->
    <header class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Kế Hoạch</h1>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </header>
    <!-- /.content-header -->
    <!-- Main content -->
    <main class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row text-center">
                        <div class="col-auto">
                            <button type="button" class="btn btn-success" onclick="AddPlans()">
                                <i class="bi bi-plus"></i> Thêm Kế Hoạch
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="exportPlans()">
                                <i class="bi bi-download custom-icon"></i> Export
                            </button>
                        </div>
                        <div class="col">
                            <nav class="navbar navbar-light bg-light">
                                <form class="d-flex ms-auto">
                                    <input class="form-control me-2" type="search" placeholder="Nhập nội dung tìm kiếm" aria-label="Search">
                                </form>
                            </nav>
                        </div>
                    </div>
                    <!-- Filter Combo Box -->
                    <div class="row mt-2">
                        <div class="col-4 text-left">
                            <label for="statusFilter" class="form-label">Trạng Thái</label>
                            <select id="statusFilter" class="form-select custom-select" style="width: 150px;" onchange="filterTable()">
                                <option value="">Tất cả</option>
                                <option value="Đã nộp">Đã Nộp</option>
                                <option value="Chưa nộp">Chưa Nộp</option>
                                <option value="Nháp">Nháp</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success">@TempData["Success"]</div>
                    }
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">@TempData["Error"]</div>
                    }
                    @if (TempData["Warning"] != null)
                    {
                        <div class="alert alert-danger">@TempData["Warning"]</div>
                    }
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Năm Học</th>
                                <th>Loại Kế Hoạch</th>
                                <th>Mã Lớp</th>
                                <th>Tên Cố Vấn</th>
                                <th>Ngày Tạo</th>
                                <th>Minh Chứng</th>
                                <th>Trạng Thái</th>
                                <th>Thao Tác</th>
                            </tr>
                        </thead>
                        <tbody id="data-table">
                            @foreach (var plan in Model)
                            {
                                counter++;
                                <tr>
                                    <td class="text-center">@counter</td>
                                    <td class="text-center">@plan.PeriodName</td>
                                    <td class="text-center">@plan.PlanType</td>
                                    <td class="text-center">@plan.ClassId</td>
                                    <td class="text-center">
                                        @{
                                            var advisorName = !string.IsNullOrEmpty(plan.Class.Advisor.FullName) ? plan.Class.Advisor.FullName : plan.Class.Advisor.Email;
                                        }
                                        @advisorName
                                    </td>
                                    <td class="text-center">@plan.CreationTime.ToString("dd/MM/yyyy")</td>
                                    <td class="text-center align-middle">
                                        @if (plan.ProofFile != null && plan.ProofFile.Length > 0)
                                        {
                                            <div class="position-relative badge bg-light text-dark p-2" style="cursor: pointer;" onclick="showImage('@Url.Action("GetImage", "Categories", new { id = plan.PlanId })')">
                                                <i class="bi bi-file-earmark-image"></i> @plan.ProofFileName
                                            </div>
                                        }
                                        else
                                        {
                                            <p>Chưa có Minh Chứng.</p>
                                        }
                                    </td>
                                    <td class="text-center">@plan.Status</td>
                                    <td class="text-center">
                                        <a href="/Categories/SemesterPlanDetail" class="btn btn-outline-success btn-sm" title="Xem chi tiết"><i class="bi bi-eye"></i></a>
                                        <button class="btn btn-outline-primary btn-sm btn-edit" title="Cập Nhật" data-id="@plan.PlanId">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button class="btn btn-outline-danger btn-sm delete" title="Xóa"><i class="bi bi-trash"></i></button>
                                        <button class="btn btn-outline-secondary btn-sm" title="Nộp "><i class="bi bi-file-earmark-arrow-up"></i></button>
                                    </td>
                                </tr>
                            }
                            <tr id="noresults" style="display: none;">
                                <td colspan="9" class="text-center">Không tìm thấy nội dung</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Pagination Controls -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end">
                            @if (Model.HasPreviousPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="MyAnnouncements" asp-route-pageIndex="@(Model.PageIndex - 1)" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                            }
                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                if (i == Model.PageIndex)
                                {
                                    <li class="page-item active"><a class="page-link">@i</a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" asp-action="MyAnnouncements" asp-route-pageIndex="@i">@i</a></li>
                                }
                            }
                            @if (Model.HasNextPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="MyAnnouncements" asp-route-pageIndex="@(Model.PageIndex + 1)" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </main>
</div>

<script>

</script>