@{
    Layout = "_MainLayout";
}
@if (TempData["MessageClassOverview"] != null)
{
    <div class="alert alert-@TempData["MessageType"]">
        @TempData["MessageClassOverview"]
    </div>
}
@model CAPSTONE_TEAM01_2024.ViewModels.ClassListViewModel

<div class="content-wrapper" style="min-height: 912.2px;">
    <!-- Content Header (Page header) -->
    <header class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Danh Sách Lớp </h1>
                    <h2 class="m-0">Niên Khóa @(Model.AcademicPeriod.Year + "-" + (Model.AcademicPeriod.Year + 1))</h2>
                    <h3 class="m-0">Học Kỳ @(Model.AcademicPeriod.Year.ToString().Substring(2) + Model.AcademicPeriod.Semester)</h3>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </header>
    <!-- /.content-header -->
    <!-- Main content -->
    <main class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row text-center">
                        <div class="col-auto">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AddClassModal">
                                <i class="bi bi-plus custom-icon"></i> Thêm Lớp
                            </button>
                        </div>
                        <div class="col">
                            <nav class="navbar navbar-light bg-light">
                                <form class="d-flex ms-auto">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->

                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Mã Lớp</th>
                                <th scope="col">Cố Vấn Học Tập</th>
                                <th scope="col">Số lượng SV</th>
                                <th scope="col">Khóa</th>
                                <th scope="col">Thao Tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int number = 0;}
                            @foreach (Class classes in Model.Classes)
                            {
                                number++;
                                <tr class="table-row">
                                    <th scope="row" class="text-center">@number</th>
                                    <td class="text-center">@classes.ClassName</td>
                                    <td class="text-center">@classes.Advisor</td>
                                    <td class="text-center">@classes.StudentCount</td>
                                    <td class="text-center">@classes.EnrollmentNumber</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-outline-primary btn-sm" aria-label="Edit class details" onclick="openEditModal('1', '@classes.ClassName', '@classes.Advisor', @classes.StudentCount, @classes.EnrollmentNumber)">
                                            <i class="fa-solid fa-pen-to-square custom-icon"></i> Cập Nhật
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#DeleteModal" aria-label="Delete class" onclick="openDeleteModal('1')">
                                            <i class="fa-solid fa-trash custom-icon"></i> Xóa
                                        </button>
                                    </td>
                                </tr>
                            }
                            <!-- Additional rows can go here -->
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </main>
    <!-- /.content -->
</div>

<!-- Edit Modal -->
<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditModalLabel">Chỉnh Sửa Thông Tin Lớp</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editClassForm">
                    <div class="mb-3">
                        <label for="classId" class="form-label">ID Lớp</label>
                        <input type="text" class="form-control" id="classId" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="classCode" class="form-label">Mã Lớp</label>
                        <input type="text" class="form-control" id="classCode" placeholder="Nhập mã lớp">
                    </div>
                    <div class="mb-3">
                        <label for="advisor" class="form-label">Cố Vấn Học Tập</label>
                        <input type="text" class="form-control" id="advisor" placeholder="Nhập tên cố vấn">
                    </div>
                    <div class="mb-3">
                        <label for="numberOfStudents" class="form-label">Số lượng SV</label>
                        <input type="number" class="form-control" id="numberOfStudents" placeholder="Nhập số lượng sinh viên">
                    </div>
                    <div class="mb-3">
                        <label for="course" class="form-label">Khóa</label>
                        <input type="text" class="form-control" id="course" placeholder="Nhập khóa">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges()">Lưu Thay Đổi</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteModalLabel">Xóa Lớp</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa lớp này không?</p>
                <input type="hidden" id="deleteClassId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" onclick="deleteClass()">Xóa</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="AddClassModal" tabindex="-1" aria-labelledby="AddClassModalLabel" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddClassModalLabel">Thêm Lớp Mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addClassForm"
                      asp-controller="ClassManager" asp-action="AddClass" method="post">
                    <input type="hidden" name="academicPeriodId" value="@Model.AcademicPeriod.Id" />
                    <div class="mb-3">
                        <label for="newClassCode" class="form-label">Mã Lớp</label>
                        <input type="text" class="form-control" id="newClassCode" name="className" placeholder="Nhập mã lớp">
                    </div>
                    <div class="mb-3">
                        <label for="newAdvisor" class="form-label">Cố Vấn Học Tập</label>
                        <input type="text" class="form-control" id="newAdvisor" name="advisor" placeholder="Nhập tên cố vấn">
                    </div>
                    <div class="mb-3">
                        <label for="newNumberOfStudents" class="form-label">Số lượng SV</label>
                        <input type="number" class="form-control" id="newNumberOfStudents" name="studentCount" placeholder="Nhập số lượng sinh viên">
                    </div>
                    <div class="mb-3">
                        <label for="newCourse" class="form-label">Khóa</label>
                        <input type="text" class="form-control" id="newCourse" name="enrollmentNumber" placeholder="Nhập khóa">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </form>
            </div>        
        </div>
    </div>
</div>
