<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - CAPSTONE_TEAM01_2024</title>
    <link rel="icon" type="image/x-icon" href="~/Resources/Img/logoVL.png">
    <link rel="stylesheet" href="~/CAPSTONE_TEAM01_2024.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

</head>
<body>
    <!--Page's Head-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 0px; height: 100%;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="text-transform: uppercase; color: #fff; font-weight: 600; font-size: 25px;">
                <img src="~/Resources/Img/logoVL_white.png" style ="width: 50px; height:50px;"alt="Logo Đại học Văn Lang">
                Quản Lý Hoạt Động Cố Vấn Học Tập
            </a>
            <div class="d-flex">
                <button class="btn btn-light me-2" type="button">
                    <i class="bi bi-bell"></i>
                </button>
                <button class="btn btn-light me-2" type="button">
                    <i class="bi bi-chat-dots"></i>
                </button>
                <div class="dropdown" style="position: relative;">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton">
                        <i class="bi bi-person-circle"></i> 
                    </button>
                    <ul class="dropdown-menu" id="dropdownMenu" style="background-color: #fff; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); text-align: center; right: 0; padding: 0px; display: none; position:absolute;">
                        <li class="btn-logout">
                            <button type="button" class="dropdown-item" style="color: #333; font-size: 18px;" onclick="window.location.href='/ProfileManager/PersonalProfile'">
                                <i class="bi bi-person" style="font-size:18px; margin-right:5px; float:left;"></i> Thông tin cá nhân
                            </button>
                        </li>
                        <li class="btn-logout">
                            <form class="form-inline" asp-action="logout" asp-controller="users" id="logoutForm" onsubmit="clearSessionStorage()">
                                <button type="submit" class="dropdown-item" style="color: #333; font-size: 18px;">
                                    <i class="bi bi-box-arrow-right" style="font-size:18px; margin-right:5px ; float:left;"></i> Đăng Xuất
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--Content of page-->
    <div class="container-fluid" id="Content_Display">
        <div class="row">
            <!--Side Navbar-->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
                <div class="overlay">
                    <ul class="nav flex-column" style="font-size: 25px; list-style-type: none;">
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/HomePage" id="linkHome" style="text-decoration:none;"
                               onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                               onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                <i class="bi bi-house-door"></i> TRANG CHỦ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" aria-expanded="false" aria-controls="dropdownMenu1" id="toggleMenu1"
                               onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                               onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                <i class="bi bi-people"></i> NGƯỜI DÙNG <i class="bi bi-caret-down-fill" style="float:right;"></i>
                            </a>
                            <ul class="collapse" id="dropdownMenu1" style="list-style-type: none; padding-left: 35px;">
                                <li>
                                    <a class="dropdown-item" href="/ProfileManager/AdvisorProfiles" id="linkAdvisorProfiles" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-person-vcard-fill"></i> Nhân Sự
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/ProfileManager/StudentProfiles" id="linkStudentProfiles" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-person-vcard"></i> Sinh viên
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" aria-expanded="false" aria-controls="dropdownMenu4" id="toggleMenu4"
                               onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                               onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                <i class="bi bi-activity"></i> HOẠT ĐỘNG <i class="bi bi-caret-down-fill" style="float:right;"></i>
                            </a>
                            <ul class="collapse" id="dropdownMenu4" style="list-style-type: none; padding-left: 35px;">
                                <li>
                                    <a class="dropdown-item" href="/Categories/SemesterPlan" id="linkSemesterPlan" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-book"></i> Kế Hoạch
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Categories/EndSemesterReport" id="linkEndSemesterReport" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-file-earmark-text"></i> Báo Cáo
                                    </a>
                                </li>
                            </ul>
                        </li>
                       


                        <li class="nav-item">
                            <a class="nav-link" role="button" aria-expanded="false" aria-controls="dropdownMenu2" id="toggleMenu2"
                               onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                               onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                <i class="bi bi-list"></i> DANH MỤC <i class="bi bi-caret-down-fill" style="float:right;"></i>
                            </a>
                            <ul class="collapse" id="dropdownMenu2" style="list-style-type: none; padding-left: 35px;">
                                <li>
                                    <a class="dropdown-item" href="/Categories/SchoolYear" id="linkSchoolYear" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-calendar"></i> Năm Học
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Categories/ClassList" id="linkClassList" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-mortarboard"></i> Lớp Học
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Categories/StudentList" id="linkStudentList" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-person-lines-fill"></i>  Sinh Viên
                                    </a>
                                </li>

                            </ul>
                        <li class="nav-item">
                            <a class="nav-link" role="button" aria-expanded="false" aria-controls="dropdownMenu3" id="toggleMenu3"
                               data-bs-toggle="collapse" data-bs-target="#dropdownMenu3"
                               onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                               onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                <i class="bi bi-exclamation-circle"></i> THÔNG BÁO
                                <span id="announcementCount" class="badge rounded-pill bg-danger" style="display:none;"></span>
                                <i class="bi bi-caret-down-fill" style="float:right;"></i>
                            </a>
                            <ul class="collapse" id="dropdownMenu3" style="list-style-type: none; padding-left: 35px;">
                                <li>
                                    <a class="dropdown-item" href="/Announcement/AnnouncementList" id="linkAnnouncement" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-journal-text"></i> Danh Sách <span id="totalAnnouncementCount" class="badge rounded-pill bg-danger " style="display:none;"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Announcement/MyAnnouncements" id="linkMyAnnouncement" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-person-badge"></i> Của Tôi <span id="myAnnouncementCount" class="badge rounded-pill bg-danger " style="display:none;"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                     
                        <li class="nav-item">
                            <a class="nav-link" role="button" aria-expanded="false" aria-controls="dropdownMenu5" id="toggleMenu5"
                               onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                               onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                <i class="bi bi-chat-dots"></i> TRAO ĐỔI <i class="bi bi-caret-down-fill" style="float:right;"></i>
                            </a>
                            <ul class="collapse" id="dropdownMenu5" style="list-style-type: none; padding-left: 35px;">
                                <li>
                                    <a class="dropdown-item" href="/Categories/ReceiveEmail" id="linkReceive" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-envelope-open"></i> Nhận
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Categories/SentEmail" id="linkSend" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-send"></i> Gửi
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="button" aria-expanded="false" aria-controls="dropdownMenu6" id="toggleMenu6"
                               onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                               onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                <i class="bi bi-graph-up"></i> THỐNG KÊ <i class="bi bi-caret-down-fill" style="float:right;"></i>
                            </a>
                            <ul class="collapse" id="dropdownMenu6" style="list-style-type: none; padding-left: 35px;">
                                <li>
                                    <a class="dropdown-item" href="/Statistics/ShowStatistics" id="linkStatistics" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-speedometer2"></i> DashBoard
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Statistics/StatisticsClassByMajor" id="linkStatisticsRole" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-grid"></i> Số Lượng Lớp
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Statistics/StatisticsClassByYear" id="linkStatisticsMajor" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-award"></i> Lớp Chủ Nhiệm
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Statistics/StatisticsEvalution" id="linkStatisticsStatusStudent" style="text-decoration:none; color: #fff; font-size:1.2rem; font-weight:bold;"
                                       onmouseover="this.style.backgroundColor='#c82333'; this.style.color='#fff';"
                                       onmouseout="this.style.backgroundColor='transparent'; this.style.color='#fff';">
                                        <i class="bi bi-star-fill"></i> Đánh Giá
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                        
                    </ul>
                </div>
            </nav>
            <!--View's Contents-->
            <main class="col-md-9 ms-sm-auto col-lg-10 content p-0 m-0" id="main-content" style="position: relative">
                @RenderBody()
            </main>
        </div>
    </div>
    <!--Page's Footer' -->
    <footer class="text-muted">
        <div class="container-fluid" id="Main_Footer">
            <div style="float:left; display:inline;">
                <b style="color:#d72235;">&copy; 2025 - Đại học Văn Lang<br></b>
                <b>Khoa Công Nghệ Thông Tin</b>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src ="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        // Establish a connection to the SignalR hub
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/notificationHub")  // URL of your SignalR hub
            .build();

        // Set up the method to handle messages from the server
        connection.on("ReceiveNotification", function (message) {
            // Display the received notification (you can update the UI here)
            alert("New Notification: " + message);  // Example action
        });

        // Start the connection
        connection.start()
            .then(function () {
                console.log("Connected to SignalR hub.");
            })
            .catch(function (err) {
                console.error("Error connecting to SignalR hub: ", err);
            });

// Display Info JS
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/Central/GetUserInfo')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    // Log the full response for debugging
                    console.log('User Data:', data);

                    const userInfoElement = document.getElementById('dropdownMenuButton');
                    if (!userInfoElement) {
                        console.error('Element with ID "dropdownMenuButton" not found.');
                        return;
                    }

                    // Use the fullName from the backend response or fallback to email
                    const displayName = data.fullName && data.fullName.trim() !== '' ? data.fullName : data.email;
                    userInfoElement.textContent = `${displayName} - ${data.role}`;
                })
                .catch(error => {
                    console.error('Error fetching user info:', error);
                    const userInfoElement = document.getElementById('dropdownMenuButton');
                    if (userInfoElement) {
                        userInfoElement.textContent = 'Failed to load user info';
                    }
                });
        });

// Logout menu JS
        document.getElementById("dropdownMenuButton").addEventListener("click", function () {
            var dropdownMenu = document.getElementById("dropdownMenu");
            if (dropdownMenu.style.display === "block") {
                dropdownMenu.style.display = "none";
            } else {
                dropdownMenu.style.display = "block";
            }
        });

// Dropdown and Selected Effect JS
        document.addEventListener("DOMContentLoaded", function () {
            const currentUrl = window.location.pathname;

            // Map paths to link IDs
            const linkMap = {
                '/Home/HomePage': 'linkHome',
                '/ProfileManager/StudentProfiles': 'linkStudentProfiles',
                '/ProfileManager/AdvisorProfiles': 'linkAdvisorProfiles',
                '/Statistics/ShowStatistics': 'linkStatistics',
                '/Statistics/StatisticsClassByYear': 'linkStatisticsMajor',
                '/Statistics/StatisticsClassByMajor': 'linkStatisticsRole',
                '/Statistics/StatisticsEvalution': 'linkStatisticsStatusStudent',
                '/Categories/SchoolYear': 'linkSchoolYear',
                '/Categories/ClassList': 'linkClassList',
                '/Categories/SemesterPlan': 'linkSemesterPlan',
                '/Categories/EndSemesterReport': 'linkEndSemesterReport',
                '/Categories/StudentList': 'linkStudentList',
                '/Announcement/AnnouncementList': 'linkAnnouncement',
                '/Announcement/MyAnnouncements': 'linkMyAnnouncement',
                '/Categories/SentEmail': 'linkSend',
                '/Categories/ReceiveEmail': 'linkReceive    ',
            };

            // Set the selected state
            document.querySelectorAll('.dropdown-item').forEach(item => {
                item.classList.remove('selected');
            });
            if (linkMap[currentUrl]) {
                const selectedLink = document.getElementById(linkMap[currentUrl]);
                if (selectedLink) {
                    selectedLink.classList.add('selected');
                    // Mở dropdown menu chứa link được chọn
                    const parentMenu = selectedLink.closest('.collapse');
                    if (parentMenu) {
                        parentMenu.style.display = 'block';
                        const toggle = document.querySelector(`[aria-controls="${parentMenu.id}"]`);
                        if (toggle) {
                            toggle.setAttribute('aria-expanded', 'true');
                            sessionStorage.setItem(parentMenu.id, 'open');
                        }
                    }
                }
            }

            // Load dropdown state from session storage
            const dropdownMenus = ['dropdownMenu1', 'dropdownMenu2', 'dropdownMenu3', 'dropdownMenu4', 'dropdownMenu5', 'dropdownMenu6'];
            dropdownMenus.forEach(menuId => {
                const menuState = sessionStorage.getItem(menuId);
                const menu = document.getElementById(menuId);
                if (menuState === 'open') {
                    menu.style.display = 'block';
                    const toggle = document.querySelector(`[aria-controls="${menuId}"]`);
                    toggle.setAttribute('aria-expanded', 'true');
                }
            });

            // Add event listeners to toggle dropdowns and save state
            document.querySelectorAll('[aria-controls]').forEach(toggle => {
                toggle.addEventListener("click", function (event) {
                    const menuId = toggle.getAttribute('aria-controls');
                    toggleMenu(menuId);
                });
            });
        });

        function toggleMenu(menuId) {
            const menu = document.getElementById(menuId);
            const toggle = document.querySelector(`[aria-controls="${menuId}"]`);
            if (menu.style.display === 'block') {
                menu.style.display = 'none';
                toggle.setAttribute('aria-expanded', 'false');
                sessionStorage.setItem(menuId, 'closed');
            } else {
                menu.style.display = 'block';
                toggle.setAttribute('aria-expanded', 'true');
                sessionStorage.setItem(menuId, 'open');
            }
        }

// Clear session storage on logout
        function clearSessionStorage() {
            sessionStorage.clear();
        }
//Notification JS
        //Pill badge display
        document.addEventListener('DOMContentLoaded', function() {
        fetch('@Url.Action("GetNewAnnouncementsCount", "Announcement")')
            .then(response => response.json())
            .then(data => {
                if (data.count > 0) {
                    document.getElementById('announcementCount').innerText = data.count;
                    document.getElementById('announcementCount').style.display = 'inline-block';

                    document.getElementById('totalAnnouncementCount').innerText = data.count;
                    document.getElementById('totalAnnouncementCount').style.display = 'inline-block';

                    document.getElementById('myAnnouncementCount').innerText = data.count;
                    document.getElementById('myAnnouncementCount').style.display = 'inline-block';
                } else {
                    document.getElementById('announcementCount').style.display = 'none';
                    document.getElementById('totalAnnouncementCount').style.display = 'none';
                    document.getElementById('myAnnouncementCount').style.display = 'none';
                }
            });
        });
        //Update read count
        document.addEventListener('DOMContentLoaded', function() {
            fetch('@Url.Action("GetNewAnnouncementsCount", "Announcement")')
                .then(response => response.json())
                .then(data => {
                    if (data.count > 0) {
                        document.getElementById('announcementCount').innerText = data.count;
                        document.getElementById('announcementCount').style.display = 'inline-block';

                        document.getElementById('totalAnnouncementCount').innerText = data.count;
                        document.getElementById('totalAnnouncementCount').style.display = 'inline-block';

                        document.getElementById('myAnnouncementCount').innerText = data.count;
                        document.getElementById('myAnnouncementCount').style.display = 'inline-block';
                    } else {
                        document.getElementById('announcementCount').style.display = 'none';
                        document.getElementById('totalAnnouncementCount').style.display = 'none';
                        document.getElementById('myAnnouncementCount').style.display = 'none';
                    }
                });
            });

        document.getElementById('linkAnnouncement').addEventListener('click', function() {
                markAllAsRead();
            });

        document.getElementById('linkMyAnnouncement').addEventListener('click', function() {
                markAllAsRead();
            });

        function markAllAsRead() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("MarkAllAnnouncementsAsRead", "Announcement")',
                    success: function(response) {
                        if (response.success) {
                            document.getElementById('announcementCount').style.display = 'none';
                            document.getElementById('totalAnnouncementCount').style.display = 'none';
                            document.getElementById('myAnnouncementCount').style.display = 'none';
                        }
                    }
                });
            }
    </script>
</body>
